body {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
}

.clear {
  clear: both;
}

#search, #intake {
  width: 450px;
  margin: 10px auto;
  display: none;
}

#intakeForm {
  height: 450px;
}

#intakeForm .picture {
  float: left;
}

#intakeForm .picture img {
  width: 75px;
  height: 76px;
}

#intakeForm #intakeSummary {
  margin-left: 75px;
}

#intakeForm #fullName, #intakeForm #SSN, #intakeForm #pathwaysId {
  overflow: hidden;
}

#intakeForm .label {
  color: black;
  display: inline-block;
  text-align: left;
  font-style: italic;
  margin-top: 10px;
}

#intakeForm input[type=text] {
  height: 38px;
  padding-left: 5px;
}

#intakeForm input[type=checkbox] {
  padding: 0px;
  display: inline-block;
}

#intakeForm #selectBoxes {
  margin: 10px 0px;
}

#intakeForm .selectBox {
  height: 25px;
  border: none;
  display: inline-block;
  margin-top: 3px;
  padding-top: 5px;
  text-align: center;
}

#intakeForm .checkboxBox {
  height: 0px;
  padding-left: 0.6em;
  margin: 0px;
  display: inline-block;
  text-align: left;
}

#intakeForm .selectBox select {
  width: 100%;
}

#searchForm button {
  float: right;
  margin-top: 15px;
}

#searchForm button:disabled {
  color: #ccc;
}

#intakeForm button {
  float: right;
  margin-top: 80px;
}

.pct33 {
  width: 33%;
}

.pct34 {
  width: 34%;
}

.pct50 {
  width: 50%;
}

.pct67 {
  width: 67%;
}

.pct100 {
  width: 100%;
}

.container {
  background: #fff;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 600px;
}

.container h1 {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

#searchForm input {
  height: 50px;
}

#results {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 390px;
  overflow-y: scroll;
}

.hit {
  border: 1px solid  #ccc;
  border-collapse: collapse;
  border-radius: 4px;
  background-color: #058;
  height: 77px;
  color: white;
  clear: both;
  cursor: pointer;
}

.hit .picture, .hit .text {
  height: 75px;
  float: left;
}

.hit .text {
  padding: 5px;
}

.hit .summaryElement {
  float: left;
  padding: 0px 10px;
}

.hit .summaryElement .label {
  padding-left: 0px;
}


.hit span.marked {
  /* won't be red in production, but makes marked output more obvious for now */
  color: red;
}

