* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
}

#content {
  width: 80%;
  height: 500px;
  max-width: 600px;
  margin: 10px auto;
}

#content h1 {
  text-align: center;
}

#main {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}
form#intakeForm input {
  height: 50px;
}

#results {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 400px;
  overflow-y: scroll;
}

.hit {
  border: 1px solid  #ccc;
  border-collapse: collapse;
  background-color: #008;
  height: 77px;
  color: white;
  clear: both;
}

.hit .picture, .hit .text {
  height: 75px;
  float: left;
}

.hit .text {
  padding: 5px;
}

.hit .summaryElement {
  height: 35px;
  float: left;
  padding: 0px 10px;
}

.hit .clear {
  clear: both;
}

.hit span.marked {
  /* won't be red in production, but makes marked output more obvious for now */
  color: red;
}

label {
  cursor: pointer;
}
