body {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
}

#search, #intake {
  min-width: 500px;
  max-width: 600px;
  margin: 10px auto;
}

#search {
  display: block;
}

#intake {
  display: none;
}

#intake input {
  height: 30px;
}

#intake .selectBox {
  height: 25px;
  border: none;
  display: inline-block;
  padding-top: 5px;
}

#intake .selectBox select {
  width: 100%;
}

#intake button {
  float: right;
  margin-top: 10px;
}

.pct33 {
  width: 33%;
}

.pct34 {
  width: 34%;
}

.pct50 {
  width: 50%;
}

.pct67 {
  width: 67%;
}

.pct100 {
  width: 100%;
}

.container h1 {
  text-align: center;
}

.main {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

#searchForm input {
  height: 50px;
}

#results {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 400px;
  overflow-y: scroll;
}

.hit {
  border: 1px solid  #ccc;
  border-collapse: collapse;
  background-color: #008;
  height: 77px;
  color: white;
  clear: both;
  cursor: pointer;
}

.hit .picture, .hit .text {
  height: 75px;
  float: left;
}

.hit .text {
  padding: 5px;
}

.hit .summaryElement {
  float: left;
  padding: 0px 10px;
}

.hit .clear {
  clear: both;
}

.hit span.marked {
  /* won't be red in production, but makes marked output more obvious for now */
  color: red;
}

label {
  cursor: pointer;
}
