doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Client Intake

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/lib/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')

    script(type='text/javascript', src='js/lib/jquery.min.js')
    script(type='text/javascript', src='js/lib/bootstrap.min.js')
    script(type='text/javascript', src='js/lib/sampleData.js')
    script(type='text/javascript', src='js/index.js')

  body
    div#content.container
      div#title.row
        div.col-xs-12
          h1 Client Intake
      div.row
        div.col-md-8.col-md-offset-2
          div#main
            form#intakeForm
              div.form-group
                input#searchField.form-control(name='searchField', type='text', placeholder='name, SSN, or Pathways Client Key')
            div#results

